<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict>
		<key>color1</key>
		<dict>
			<key>Value</key>
			<string>red</string>
			<key>States</key>
			<dict>
				<key>Off,On</key>
				<string>black</string>
			</dict>
		</dict>
	</dict>
	<key>Fonts</key>
	<dict>
		<key>font1</key>
		<dict>
			<key>Family</key>
			<string>Lucida Grande</string>
			<key>Size</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>image1</key>
		<dict>
			<key>Resource</key>
			<string>toolbar_view_buttons</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,46},[27,23}}</string>
					</array>
				</dict>
				<key>Window Active,Any State,Selected</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,92},[27,23}}</string>
					</array>
				</dict>
				<key>Window Active,On,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,69},[27,23}}</string>
					</array>
				</dict>
				<key>Window Inactive,Off,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,0},[27,23}}</string>
					</array>
				</dict>
				<key>Window Inactive,On,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,23},[27,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>image2</key>
		<dict>
			<key>Resource</key>
			<string>toolbar_view_buttons</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{27,46},[27,23}}</string>
					</array>
				</dict>
				<key>Window Active,Any State,Selected</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{27,92},[27,23}}</string>
					</array>
				</dict>
				<key>Window Active,On,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{27,69},[27,23}}</string>
					</array>
				</dict>
				<key>Window Inactive,Off,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{27,0},[27,23}}</string>
					</array>
				</dict>
				<key>Window Inactive,On,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{27,23},[27,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>image3</key>
		<dict>
			<key>Resource</key>
			<string>toolbar_view_buttons</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{54,46},[27,23}}</string>
					</array>
				</dict>
				<key>Window Active,Any State,Selected</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{54,92},[27,23}}</string>
					</array>
				</dict>
				<key>Window Active,On,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{54,69},[27,23}}</string>
					</array>
				</dict>
				<key>Window Inactive,Off,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{54,0},[27,23}}</string>
					</array>
				</dict>
				<key>Window Inactive,On,Any Selection</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{54,23},[27,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Gradients</key>
	<dict>
		<key>gradient1</key>
		<dict>
			<key>Locations</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<real>1</real>
			</array>
			<key>Colors</key>
			<array>
				<string>black</string>
				<string>red</string>
				<string>clear</string>
			</array>
		</dict>
	</dict>
	<key>Name</key>
	<string>Default</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
