<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict/>
	<key>Fonts</key>
	<dict>
		<key>dark_checkbox</key>
		<dict>
			<key>Family</key>
			<string>Lucida Grande</string>
			<key>Traits</key>
			<string>Bold</string>
			<key>Size</key>
			<integer>11</integer>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<real>1</real>
				<key>Color</key>
				<string>rgba(0,0,0,0.4)</string>
				<key>Offset</key>
				<string>{0,-1}</string>
			</dict>
			<key>Color</key>
			<string>rgb(227,227,227)</string>
		</dict>
		<key>gloss_checkbox</key>
		<dict>
			<key>Family</key>
			<string>Lucida Grande</string>
			<key>Traits</key>
			<string>Bold</string>
			<key>Size</key>
			<integer>11</integer>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<real>1</real>
				<key>Color</key>
				<string>rgba(0,0,0,0.4)</string>
				<key>Offset</key>
				<string>{0,-1}</string>
			</dict>
			<key>Color</key>
			<string>rgb(227,227,227)</string>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>dark_checkbox</key>
		<dict>
			<key>Resource</key>
			<string>dark_checkbox</string>
			<key>States</key>
			<dict>
				<key>Toggle Off</key>
				<string>{{0,0},{16,16}}</string>
				<key>Toggle Off, Pressed</key>
				<string>{{16,0},{16,16}}</string>
				<key>Toggle On</key>
				<string>{{0,16},{16,16}}</string>
				<key>Toggle On, Pressed</key>
				<string>{{16,16},{16,16}}</string>
			</dict>
		</dict>
		<key>gloss_checkbox</key>
		<dict>
			<key>Resource</key>
			<string>gloss_checkbox</string>
			<key>States</key>
			<dict>
				<key>Toggle Off</key>
				<string>{{0,0},{16,16}}</string>
				<key>Toggle Off, Pressed</key>
				<string>{{16,0},{16,16}}</string>
				<key>Toggle On</key>
				<string>{{0,16},{16,16}}</string>
				<key>Toggle On, Pressed</key>
				<string>{{16,16},{16,16}}</string>
				<key>Window Inactive, Toggle Off</key>
				<string>{{0,32},{16,16}}</string>
				<key>Window Inactive, Toggle On</key>
				<string>{{16,32},{16,16}}</string>
			</dict>
		</dict>
	</dict>
	<key>Gradients</key>
	<dict/>
	<key>Name</key>
	<string>Default</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
